<html>
  <head>
    <title>Mi primera web</title>
  </head>
  <body>
    <h1>Hola 😎</h1>

    <section>
      <h2>Sobre mí</h2>
      <p>Soy estudiante y estoy aprendiendo Astro</p>
    </section>

    <section>
      <h2>Proyectos</h2>
      <p>Acá voy a mostrar mis proyectos</p>
    </section>

    <section>
      <h2>Contacto</h2>
      <p>Email: ejemplo@gmail.com</p>
    </section>

    <button onclick="saludar()">Click</button>

    <script>
      function saludar() {
        alert("Hola!");
      }
    </script>
  </body>
</html>